<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    	$(document).ready(function(){
			//submitting
			io = io.connect();
			$('form').on('submit', function (){
				var user = {};
				user.name = $('input[name=name]').val();
				
				// Emitting
				event.preventDefault();
				io.emit('got_a_new_user', user);
				$('#signin').fadeOut("slow", function () {});
				$('#my_box').fadeIn("slow", function () {});
				$('#my_box h4').html(""+user.name+"");
			});
			$(document).on('keyup', 'textarea', function () {
				var text = {};
				text.message = $('#text1').val();
				io.emit('updated_text', text);
			});
			//listening
			io.on('new_user', function(data) {
				$('#container').append("<div id='" + data.id + "' class='chat_box'></div>");
				$("#my_box").html("<h4>" + data.id.name + "</h4><textarea name='message' id='text1' cols='18' rows='7'><textarea>");
				console.log(data);
			});

			// io.on('text_update', function (message) {
			// 	console.log(message);
			// 	$('#my_box p').html(""+data.message+"");
			// });
		});

    </script>
  </head>
  <body>
    <div id="signin">
    	<form method="post">
	    	<label>Your Name:</label>
	    	<input type="text" name="name">
	    	<button id="cancel">Cancel</button>
	    	<input type="submit" name="submit" value="OK" />
	    </form>
    </div>
	<div id="container">
		<div id="my_box">
			<h4></h4>
			<textarea name='message' id='text1' cols='18' rows='7'></textarea>
		</div>
	</div>
  </body>
</html>
