#container{
    background-color: pink;
    position; relative;
    height: 1000px;
    width: 1000px;
}

    #top-banner{
        background-color: Red;
        width: 1000px;
        height: 100px; 
    }
        #toolbar{
            height: 40px;
            width: 800px;
            background-color: white;
            border-top: 2px solid grey;
            border-bottom: 2px solid grey;
            position: absolute;
            right: 0px;
        }
            #toolbar label{
                font-size: 8px;
                position: absolute;
                top: 15px;
                left: 150px;
            }
            #toolbar a{
                font-size: 10px;
                display: inline-block;
                position: absolute;
                right: 10px;
            }



        li.main-toptags{
        font-size: 10px;
        display: inline;
        
        }
        
        li.main-lowtags{
        font-size: 10px;
        display: inline;
        }

    #left-nav{
      background-color: blue;
      color: darkblue;
      height: 200px;
      width: 200px;
      border: 1px solid black;
      display: inline-block;
      vertical-align: top;
      margin-top: 15px;
      margin-right: 20px;
      
    }
    
    #main-content{
      background-color: green;
      color: darkblue;
      height: 400px;
      width: 600px;
      border: 1px solid black;
      display: inline-block;
      vertical-align: top;
      margin-top: 15px;
 
}