<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    	<form action="/process" method="post">
	    	<label>Your Name:<input type="text" name="name"></label>
	    	<label>Dojo Location:<select name="location" id="location">
	    		<option value="mountain_view">Mountain View</option>
	    		<option value="seattle">Seattle</option>
	    	</select></label>
	    	<label>Favorite Language:<select name="language" id="language">
	    		<option value="Javascript">Javascript</option>
	    		<option value="node">Node</option>
	    		<option value="python">Python</option>
	    		<option value="ruby">Ruby</option>
	    		<option value="php">Php</option>
	    	</select></label>
	    	<label>Comment (optional):</label>
	    	<textarea name="comment" id="comment" cols="30" rows="10"></textarea>
	    	<input type="submit" name="submit" value='Submit'>
	    </form>
    </div>
  </body>
</html>
