<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="border">
				<form class="form-horizontal col-sm-10" role="form" action="/result" method="post">
					<div class="form-group">
						<label class="control-label col-sm-3">Your Name:</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="name">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">Dojo Location:</label>
						<div class="col-sm-9">
							<select class="form-control" name="location" id="">
								<option value="seattle">Seattle</option>
								<option value="mountin view">Mountain View</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">Favorite Language:</label>
						<div class="col-sm-9">
							<select class="form-control" name="language" id="">
								<option value="ruby">Ruby</option>
								<option value="javascript">Javascript</option>
								<option value="python">Python</option>
								<option value="php">PHP</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">Comments (optional):</label>
						<div class="col-sm-9">
							<textarea class="form-control" name="comment" rows="3"></textarea>
						</div>
					</div>
					<button class="btn btn-primary col-sm-offset-11" type="submit" name="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>