*{
  margin: 0;
  padding: 0;
}

#container {

}

  #toolbar{
    display: inline-block;
    background-color: blue;
    width: 33%;
    margin-left: 55%;
    margin-right: 0;
  }

  form{
    display: inline;
    
  }
    form input{
      color: white;
      background-color: blue;
      display: inline-block;
      font-size: 10px;
      width: 6%;
      margin-left: 10px;
    }

  #header{
    background-color: yellow;
    height: 80px;
  }

  #sidebar{
    display: inline-block;
    background-color: green;
    width: 20%; 
  }

  #content{
    display: inline-block;
    background-color: orange;
    width: 79%;
  }