<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ultra Store</title>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/factories.js"></script>
	<script src="/js/controllers.js"></script>
</head>
<body>
	<div class="container" ng-app="StoreApp">
		<a href="#/dashboard">Dashboard</a> | <a href="#/products">Products</a> | <a href="#/orders">Orders</a> | <a href="#/customers">Customers</a> | <a href="#/settings">Settings</a>
		<br />

		<div ng-view=""></div>
	</div>
</body>
</html>