*{
  margin: 0;
  padding: 0;
}
#container{
  font-family: sans-serif;
}
  #container .header-img{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
  }
  #container h2{
    position: absolute;
    right: 85px;
    display: inline-block;
    width: 380px;
    margin-top: 30px;
    margin-left: 15%;
  }
  #container ul{
    display: inline-block;
    list-style: none;
    background-color: #EDF1F3;
    border-top: 1px solid grey;
    padding-left: 25px;
    padding-bottom: 40px;
    padding-right: 29.3%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
    #container ul li{
      display: inline-block;
      background-color: #EDF1F3;
      border-right: 1px solid grey;
      border-left: 1px solid grey;
      font-size: 10px;
      padding: 5px 15px;
      font-weight: bold;
    }
  #content{
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
  }
    #content .content-img{
      display: inline-block;
      width: 330px;
      height: 237px;
      border: 3px solid white;
      vertical-align: top;
    }
      #about{
        display: inline-block;
        background-color: #686867;
        width: 60%;
        height: 220px;
        padding-bottom: 20px;
        margin-right: 5%;
      }
        #about .about-title{
          color: black;
          background-color: yellow;
          padding: 8px 10px;
        }
        #about .about-content{
          font-size: 18px;
          display: inline-block;
          vertical-align: top;
          color: white;
          padding: 10px;
        }
        #about p{
          color: white;
          font-size: 12px;
          padding-right: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
        }
    #content .new-option{
      display: inline-block;
      width: 40px;
      height: 12px;
      margin: 5px;
      margin-left: 10px;
      margin-right: 15px;
    }
    #content .mid-text{
      display: inline-block;
      color: green;
      font-size: 10px;
      vertical-align: top;
      margin-top: 5px;
      margin-right: 65%;
    }
    #content .section{
      background-color: white;
      display: inline-block;
      width: 22%;
      height: 235px;
      margin-right: 14px;
      vertical-align: top;
    }
    #content .section h4{
      color: black;
      background-color: yellow;
      font-size: 12px;
      padding: 5px;
      padding-left: 10px;
    }
    #content .section .section-img{
      display: inline-block;
      width: 99.6%;
      height: 110px;
    }
    #content .section p{
      color: black;
      height: 50px;
      font-size: 10px;
      padding-top: 5px;
      padding-left: 12px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
    #content .read-more{
      background-color: yellow;
      border: 2px solid black;
      width: 100px;
      height: 20px;
      margin-left: 45%;
    }