<div class="row" ng-controller="Orders">
	<input type="text" class="col-sm-2 col-sm-offset-10" ng-model="searchField" placeholder="search...">
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Customer Name</td>
				<td>Product</td>
				<td>Quantity</td>
				<td>Date</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="order in order_list | filter: searchField">
				<td ng-bind="order.name"></td>
				<td ng-bind="order.product"></td>
				<td ng-bind="order.quantity"></td>
				<td ng-bind="order.date | date: 'medium'"></td>
			</tr>
		</tbody>
	</table>
</div>
