*{
	margin: 0;
	padding: 0;
}
#container{
	width: 850px;
	height: 700px;
}
	#header{
		background-color: red;
		height: 80px;
	}
		img{
			position: absolute;
			height: 70px;
			width: 70px;
			top: 5px;
			left: 30px;
		}
		#block{
			display: inline-block;
			position: absolute;
			height: 60px;
			width: 140px;
			background-color: white;
			top: 10px;
			left: 110px;

		}
		#header h1{
			position: absolute;
			color: white;
			display: inline-block;
			top: 20px;
			left: 260px;

		}
		#header p{
			position: absolute;
			font-size: 10px;
			font-weight: bold;
			color: white;
			top: 10px;
			right: 100px;

		}
		#header a{
			color: yellow;
		}


		#search{
			display: inline-block;
			position: absolute;
			height: 20px;
			width: 170px;
			top: 40px;
			right: 100px;
		}
			#search textarea{
				position: absolute;
				font-size: 8px;
				resize: vertical; max-height: 16px; min-height: 16px;
				resize: horizontal; max-width: 112px; min-width: 112px;
				display: inline-block;
				right: 40px;
			}
			#search input[type=submit]{
				position: absolute;
				color: white; 
				background-color: red;
				border: 1px solid white;
				font-size: 8px;
				height: 16px;
				width: 35px;
				right: 0;
			}



		#toolbar{
			position: absolute;
			background-color: #E6E6E6;
			height: 20px;
			width: 850px;
			top: 80px;
		}
			#toolbar a{
				color: grey;
				font-size: 12px;
				font-weight: bold;
				padding-right: 12px;
				padding-left: 12px;
				border-left: 1px solid grey;
				text-decoration: none
			}
			#toolbar a[name=home]{
				border-left: none;
			}

	#nav{
		position: absolute;
		background-color: #E6E6E6;
		display: inline-block;
		width: 120px;
		height: 200px;
		top: 120px;
		left: 20px;
	}
		#nav ul{
			position: absolute;
			width: 80px;
			color: red;
			left: 30px;

		}
			#nav ul li a{
				font-size: 10px;
				color: red;
			)	}

	#main-content{
		position: absolute;
		background-color: white;
		font-size: 11px;
		display: inline-block;
		width: 650px;
		height: 600px;
		vertical-align: top;
		top: 120px;
		left: 155px;
	}
		#main-content h1{
			color: red;
		}
		#main-content h3{
			color: red;
			padding: 5px 0;
		}
		#main-content ul{
			margin-left: 40px;
		}
		#main-content ul li a{
			color: red;
		}
		#main-content ul li span{
			font-weight: bold;
		}
		#main-content ol{
			margin-left: 40px;
		}
		#main-content ol li a{
			color: red;
		}

		#main-content p a{
			color: red;
		}